nav{
	padding: 10px 0;
	display: flex;
	background-color: #7e685a;
}
.logga img{
	width: 70px;
	height: 70px;
}
.logga{
	width: 10%;
}
nav ul li {
	display: inline-flex;
	list-style: none;
	margin: 0 10vh;
}
nav {
	padding: 10px;
	margin: 0;
	width: 100%;
}
.nav{
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.link{
	text-decoration: none;
	color: #fff; 
	font-weight: bold;
	font-size: 20px;
}
.here{
	text-decoration: none;
	color: #000; 
	font-weight: bold;
	font-size: 20px;
}
/* standarder för alla hemsidor */
.hello{
	min-width: 100%;
	background-color: #f0a8af;
	min-height: 100vh;
	overflow-x: hidden;
	box-sizing: border-box;

}
/*grid system för alla sidor delade på 3 */
.content3{
	display: grid;
	grid-template-columns: auto auto auto;
}
.accent{
	background-color: #afd275;
	padding: 10px;
	align-items: center;
}
.yt{
	grid-column: 2;
}
.grid{
	padding: 10px;
}
body{
	overflow-x: hidden;
	margin: 0;
	font-family: "Montserrat";
}
.content2{
	display: grid;
	grid-template-columns: 50% 50%;
	padding: 20px;
}
.text{
	padding: 0 10px;
}
.img img{
	width: 100%;
}
/* Grid system för alla sidor delade på 2 */
.content2 a{
	text-decoration: none;
	color: #000;
}
.span{
	grid-column: span 2;
}
.box{
	margin: 20px 20%;
	background-color: #afd275;
	padding: 20px;
}
.rows{
	grid-row: span 2;
}
.end{
	background-color: #c2cad0;
	padding: 20px;
}