nav{ /* Det som definierar området som en navigations meny */
	padding: 10px;
	display: flex;
	background-color: #7e685a;
}
.logga img{ /* Loggan som syns på alla sidor */
	width: 100%;
}
.logga{
	width: 5%;
}
nav ul li {
	list-style: none;
}
.nav{
	width: 90%;
}
.nav ul{ /* Ordnar länkarna med jämt mellanrum i menyn på dator */
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logga #fixed{ /* Loggan för Curriculum då den flyttas med när man skrollar på endast den sidan, ändrade id i stället för att skapa en ny klass */
	position: fixed;
	width: 5%;
}
.link{ /* Länkarna i menyn till de olika sidorna */
	text-decoration: none;
	color: #fff; 
	font-weight: bold;
	font-size: 20px;
}
.here{ /* Annan stil för hemsidan användaren är på, svart text i stället för vit */
	text-decoration: none;
	color: #000; 
	font-weight: bold;
	font-size: 20px;
}
.hello{ /* standarder för alla hemsidor */
	min-width: 100%;
	background-color: #f0a8af;
	min-height: 100vh;
	overflow-x: hidden;
	box-sizing: border-box;

}
.content3{ /*grid system för alla sidor delade jämt på 3 */
	display: grid;
	grid-template-columns: 33% 34% 33%;
}
.accent{ /* En ruta med annorlunda färg för att bli mer intressant */
	background-color: #afd275;
	padding: 10px;
	align-items: center;
	grid-column: 1;
}
.grid{
	padding: 10px;
}
body{ /* Det som gäller för hela hemsidan, ser till att det inte finns en vit ram runt sidan */
	overflow-x: hidden;
	margin: 0;
	font-family: "Montserrat";
}
.content2{ /* grid system för alla sidor delade jämt på 2 */
	display: grid;
	grid-template-columns: 50% 50%;
	padding: 20px;
}
.text{
	padding: 0 10px;
}
.img img{
	width: 100%;
	padding: 10px 0;
}
.content2 a{
	text-decoration: none;
	color: #000;
}
.span{
	grid-column: span 2;
}
.box{ /* Box med annan färg som ska överstryka viktig och sammanfattande information */
	margin: 20px 20%;
	background-color: #afd275;
	padding: 20px;
}
.rows{
	grid-row: span 2;
}
.end{ /* Sammanfattning av avsnitten i Curriculum med en annan stil */
	background-color: #c5cdd3;
	padding: 20px;
	margin: 10px 0;
}
.art{ /* Lägger bara olika element i mitten */
	margin: auto;
}
.yt{
	padding: 10px;
}
.span3{
	grid-column: span 3;
}
.side{ /* grid system för navigation i Curriculum delat 20/80 */
	display: grid;
	grid-template-columns: 20% 80%;
}
.navigation{ /* Själva navigationen i Curriculum, fast på samma ställe hela tiden */
	padding: 10px;
	position: fixed;
	max-width: 15%;
}
.navigation a{
	color: #fff;
	text-decoration: none;
	margin: 10px 0;
}
.navigation a:hover{ /* Ändrar färg när muspekaren är över elementet */
	color: #000;
}
.title{
	font-weight: bold;
	font-size: 20px;
}
.sider{
	grid-row: span 2;
	background-color: #7e685a;
}
.navigation ul li{
	list-style: none;
	padding: 5px 0;
}
.findus{ /* Kontaktinformationen i Find Us, fördelade jämt över sidan */
	display: flex;
	grid-column: span 2;
	align-items: center;
	justify-content: space-between;
	margin: 50px;
}
.findus a{
	grid-column: span 2;
}
.findus a:hover{
	color: blue;
}
.text a:hover{
	color: blue;
}
.grid label{ 
	margin: 5px 0 5px 10px;
	padding: 20px 0;
}
.grid input{
	margin: 5px;
}
.overlay{ /* Navigationsmeny som bara syns i mobilläge, inte på datorn */
	display: none;
}
@media screen and (max-width: 600px){ /* Allt som bara gäller när skärmen blir mindre, i mobilläge */
	.content3{ /* I stället för grid delat på 3 finns det bara en ruta */
		grid-template-columns: 100%;
	}
	.span3{
		grid-column: span 1;
	}
	.span{
		grid-column: span 1;
	}
	.navigation{ /* Navigation för Curriculum finns inte i mobilläge, länkarna syns inte */
		display: none;
	}
	.side{ /* Tar bort sidormenyn */
		grid-template-columns: 100%;
	}
	.content2{ /* I stället för grid delat på 2 finns det bara en ruta */
		grid-template-columns: 100%;
	}
	.box{
		margin: 10px 5%;
	}
	.rows{
		grid-row: span 1;
	}
	.sider{
		grid-column: span 1;
	}
	.art{
		margin: 5px 5%;
	}
	.end{
		margin: 10px;
	}
	.findus{
		grid-column: span 1;
		display: block;
	}
	.nav{ /* Tar bort navigationsmeny mellan sidorna i mobilläge */
		display: none;
	}
	.overlay{ /* Navigation som bara syns i mobilläge med titel */
		overflow: hidden;
  		display: flex;
  		width: 90%;
  		justify-content: space-between;
		align-items: center;
	}
	.overlay img{ /* Navigationsknapp för mobilläge */
		width: 50px;
		margin: 0 20px;
		float: right;
	}
	.overlay h2{
		width: 100%;
		float: center;
	}
	.overlay #overlaycontent{ /* Länkar för navigationsmenyn i mobilläge som bara syns när script aktiveras */
		display: none;
		position: absolute;
		right: 0;
		background-color: #7e685a;
		width: 100%;
		top: 80px;
	}
	.overlay a{
		display: block;
		text-decoration: none;
		color: #fff; 
		font-weight: bold;
		font-size: 20px;
		background-color: #7e685a;
		padding: 10px;
	}
	.logga{
		width: 15%;
		position: relative;
	}
	.logga #fixed{
		width: 100%;
		position: relative;
	}
	nav{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}